:root {
    --placeholder-color: #c9c8c8;
}
.placeholder_container {
    position: relative;
    width: 250px;
    margin-bottom: 20px;
    color: #e8e5e5;
}
.placeholder_container input {
    background-color: #FFF;
    border: 1px solid #d5d4d4;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    line-height: 16px;
    height: 50px;
    outline: 0;
    padding: 0 20px;
    width: 100%;
}
.placeholder_container label {
    color: var(--placeholder-color);
    font-family: Verdana, sans-serif;
    background-color: #FFF;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    transition: all 400ms;
    top: 12px;
    left: 10px;
    background-color: #FFF;
}
.placeholder_container input:focus + label,
.placeholder_container input:not(:placeholder-shown) + label{
    top: -10px;
    left: 10px;
    font-size: 15px;
    /*background-color: #BFE2FF;*/
    padding: 2px 3px;
}