

.work_container{
    display: flex;

    font-family: "Exo 2", sans-serif;
    .work_container_leftPanel{
        /*position: relative;*/

        border-right: 2px solid rgba(141, 140, 140, 0.5);
        height: 100vh;
        max-width: 350px;
        min-width: 250px;

        .work_container_leftPanel_Top{
            /*position: absolute;*/
            /*top: 20px;*/
            /*left: 15px;*/
            padding: 20px 0px 70px 20px;
        }



        .work_container_leftPanel_calendar,
        .work_container_leftPanel_TagsList{
            display: flex;
            flex-direction: column;
            gap: 15px;
            /*padding-top: 100px;*/
            padding-bottom: 15px;
            border-bottom: 2px solid rgba(141, 140, 140, 0.1);

            button:hover *{
                /*stroke: #d5d4d4;*/
                stroke: white;
            }
            .logogo {
                fill: none;
            }

        }

        .work_container_leftPanel_TagsList{
            padding-top: 30px;
            /*padding-top: 0px;*/
            button{
                font-size: 31px;
                font-weight: 200;
            }
            .tags{
                display: flex;
                flex-direction: column;
                button{
                    /*font-size: 23px;*/
                    /*text-align: left;*/
                    /*border: none;*/
                    /*background-color: transparent;*/
                    /*padding: 0;*/
                    /*cursor: pointer;*/

                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px 20px;
                    align-items:center;

                }
                button:hover {
                    background: #0000ff;
                    /*color: #d5d4d4;*/
                    color: white;
                }
                button:active {
                    background: #02029f;
                    /*color: #d5d4d4;*/

                }
            }

        }

    }


    .work_container_rightPanel{



    }



}

@media screen and (min-width:60px) and (max-width:770px){
    .work_container{


    }
}