.work_container{


    /*font-family: "Exo 2", sans-serif;*/
    .work_container_leftPanel{
        position: relative;

        border-right: 2px solid rgba(141, 140, 140, 0.5);
        height: 100vh;
        max-width: 25vw;
        /*padding: 20px 20px;*/

.work_container_leftPanel_Top{
    position: absolute;
    top: 20px;
    left: 15px;
}



        .work_container_leftPanel_calendar{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-top: 100px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(141, 140, 140, 0.5);
        }

    }

}

@media screen and (min-width:60px) and (max-width:770px){
    .work_container{


    }
}