.registr_container{
    font-family: "Inter", sans-serif;

    margin: 10px auto;
    display: flex;

    .registr_container_left{

        width: 55vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .input_area_Zag{
            width: 80%;
            margin: 10px auto;
            font-family: "Inter", sans-serif;
            font-size: 25px;
            font-weight: 600;
        }

    }

}

@media screen and (min-width:60px) and (max-width:770px){
    .registr_container{

        .classNameInput{
            width: 70vw;
            margin: 0 auto;
        }

        .input_area{
            /*text-align: center;*/
            padding: 0;
            /*width: 70vw;*/

        }

        .registr_container_right{
            display: none;
        }
        .registr_container_left{
            width: 100vw;
            height: 0;
        }
    }
}