.work_container_leftPanel_user{

    position: relative;

    .btn_user{
        display: flex;
        gap: 10px;
        align-items:center;
        border: none;
        background: none;
        cursor: pointer;


        img{
            width: 40px;
            border-radius: 50%;
            background: none;
        }

    }

    .btn_user:hover{
        background: none;
        color: black;
    }

}

.menu{
    position: absolute;
    left: -20px;
    right: 0;
    display: none;
    /*width: 100%;*/
    background: rgba(218, 218, 218, 0.9); ;
    padding: 0px;

    li{

        /*border-bottom: 1px solid #00040c;*/

    }

    ul,li{
            list-style: none;
            font-size: 25px;
            font-weight: 800;


        a{
            color: black;

            /*margin: 10px;*/
        }

            .btn_menu{
                width: 100%;
                /*padding: 10px;*/
                display: flex;
                font-size: 25px;
                font-weight: 600;
                flex-direction: row;
                justify-content: space-between;
                background: none;
                border: none;
                cursor: pointer;


                .us{
                    transform: scale(1, -1)
                }

            }
            .btn_menu:hover{
                color: black;
            }

    }
    li{
        height: 50px;
        padding: 10px;
        border: 1px solid rgba(66,66,66,0.6);
    }
    li:hover{
        background: rgba(141, 140, 140, 0.5); ;
    }


}
.visibleMenu{
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
}