.cont{
    color: #717171;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 20px auto;


    .content{
        margin-top: 15px;

        overflow: auto;
        height: 60vh;

    }
    .content::-webkit-scrollbar {
        width: 5px;               /* ширина scrollbar */
    }
    .content::-webkit-scrollbar-track {
        background: none;        /* цвет дорожки */
    }
    .content::-webkit-scrollbar-thumb {
        background-color: rgba(141, 140, 140, 0.5);    /* цвет плашки */
        border-radius: 10px;       /* закругления плашки */
        border: none;  /* padding вокруг плашки */
    }

}


