.change-form{
    opacity: 1;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -233px 0 0 -155px;
    width: 300px;
    /*height: 300px;*/
    border: 1px solid rgba(128, 125, 125, 0.39);
    border-radius: 5px;
    /*border: none;*/
    background-color: rgba(241, 237, 237, 0.89);
    padding: 30px 5px 5px 5px;
    font-family: "Exo 2", sans-serif;
    font-size: 21px;


    .input-area{

        display: flex;
        gap: 5px;

        flex-direction: column;
        .input-area_content{
            display: flex;
            /*flex-direction: column;*/
            p{
                width: 30%;
            }
            input{
                width: 80%;
                background: none;
                border: none;
                border-bottom: 1px solid #272728;
                text-align: left;
                padding-left: 15px;
                outline: none;
                font-size: 21px;
            }


        }
        textarea{
            background: inherit;
            font-size: 15px;
            padding: 5px;
            font-size: 17px;
            outline: none;
            resize: none;
        }
        textarea::-webkit-scrollbar {
            width: 5px;               /* ширина scrollbar */
        }
        textarea::-webkit-scrollbar-track {
            background: none;        /* цвет дорожки */
        }
        textarea::-webkit-scrollbar-thumb {
            background-color: rgba(141, 140, 140, 0.5);    /* цвет плашки */
            border-radius: 10px;       /* закругления плашки */
            border: none;  /* padding вокруг плашки */
        }



    }

    .btn-area{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        .Btn{
            font-size: 25px;
            height: 40px;
            cursor: pointer;
        }
        .Btn:hover{
            background-color: #c1c1c6;
            border: 1px solid #c1c1c6;
        }

    }
    .AddTaskContainerTop_colrs{

        display: flex;
        flex-direction: column;
        gap: 10px;

        .AddTaskContainerTop_colrs_btnArea{
            display: flex;
            justify-content: space-between;
            .AddTaskContainerTop_colrs_btn{
                width: 43px;
                height: 33px;
                cursor: pointer;
                border: none;
            }
            .red{
                background: red;
            }
            .green{
                background: green;
                color: green;
            }
            .blue{
                background: blue;
                color: blue;
            }
            .yellow{
                background: yellow;
                color: yellow;
            }
            .purple{
                background: purple;
                color: purple;
            }
            .colorActive{
                border: 3px solid black;
                border-radius: 10px;
            }
        }
    }


    .closeBtn{
        position: absolute;
        right: 3px;
        top: 3px;
        background: none;
        border: none;
        cursor: pointer;

    }
}
.change-form_VISIBLE{
    display: block;
}

.askDel{
    display: none;
    opacity: 0.95;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -151px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: #b6b4b4;
    flex-direction: column;
    gap: 25px;
    font-family: "Exo 2", sans-serif;
    font-size: 21px;

    .askDel_btn_area{
        display: flex;
        justify-content: space-between;
        gap: 10px;

        button{
            cursor: pointer;
            width: 130px;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
        }
        button:hover{
            background: #5e5e5e;
        }
        button:active{
            background: #2c2c2c;
            color: orange;
        }
    }
}
.askDel_visible{
    display: flex;
}